h1 {
    color: darkred;
    font-family: cursive;
    font-size: xx-large;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: white;
}
body{ background-color: rgb(78, 78, 78)
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dodgerblue;
    font-size: x-large;
}

.full-grid{ 
    width: 300px;
    height: 300px
}
.square-1{
    background-color: crimson;
}
.square-2{
    background-color: blue;
}
.square-3{
    background-color: green;
}
.square-4{
    background-color: greenyellow;
}
.square-5{
    background-color: orange;
}
.square-6{
    background-color: gold;
}
.square-7{
    background-color: deeppink;
}
.square-8{
    background-color: white;
}
.square-9{
    background-color: indigo;
}
.cube{
    width: 100px;
    height: 100px;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
}
.row{
    display: flex;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
    font-size: large;
}