h1 {
    color: darkblue;
    font-family: cursive;
    font-size: xx-large
}
h2 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{ font-size: x-large;
    color: royalblue
}
body{ background-color: rgb(78, 78, 78)
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: deepskyblue;
    font-size: x-large
}

.full-grid{ 
    width: 300px;
    height: 300px
}
.square-1{
    background-color: crimson
}
.square-2{
    background-color: blue
}
.square-3{
    background-color: green
}
.square-4{
    background-color: greenyellow
}
.square-5{
    background-color: orange
}
.square-6{
    background-color: gold
}
.square-7{
    background-color: deeppink
}
.square-8{
    background-color: white
}
.square-9{
    background-color: indigo
}
.cube{
    width: 100px;
    height: 100px;
    float: left
}